<!-- created home component -->

<h1>hello everyone</h1>
<app-home></app-home>
<!--ngclass using string-->
<div [ngClass]="'one'">
  ng class using string</div>
<!--ngclass using array-->
<div [ngClass]="[clsName, clsName2]">
  dynamically use  class using array</div>
<!--ngclass using expression-->
  <div [ngClass]="{'one':true, 'three':false}">
ngclass using expression</div>


<!--ngif-->
<div style="background-color:aquamarine;" *ngIf="success_msg">
  if condition run successfully</div>
<!--ngif with OR condition-->
  <div *ngIf="success_msg || success_msge">
    with or condition</div>
<!--ngif with NOT condition-->
    <div *ngIf="!success_msge">
using not operator</div>
<!--ngif else condition-->
<div *ngIf="success_msge; else error_msg">
using else condition</div>

<ng-template #error_msg>
  there is some problem!!</ng-template>
  <br>
<!--ngif then else condition-->
  <div *ngIf="success_msg; then updated_msg; else error_msg">
    using else condition</div>

     <ng-template #updated_msg>
      updated.</ng-template>
    <ng-template #error_msg>
      there is some problem!!</ng-template>

<!--ngFor-->
<ul>
  <li *ngFor="let list of name">
    {{ list }}
  </li>
</ul>
<ul>
  <li *ngFor="let contact of contacts">
    {{ contact.firstName }} {{ contact.lastName }}
  </li>
</ul>
<!--print index also-->
<ul>
  <li *ngFor="let contact of contacts; index as i">
   {{i}} {{ contact.firstName }} {{ contact.lastName }}
  </li>
</ul>

<!--create a table using ngfor-->
<h1>create table<h1>
<table>
  <tr>
    <th *ngFor="let column for header">
      {{column}}
  </th>
  </tr>
 <tr *ngFor="let row for rows">
    <td *ngFor="let column for header">
      {{row[column]}}

    </td>
  </tr>
</table>
